[submodule ".vim/pack/bundle/start/molokai"]
	path = .vim/pack/bundle/start/molokai
	url = https://github.com/ueaner/molokai
[submodule ".vim/pack/bundle/start/nerdtree"]
	path = .vim/pack/bundle/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/pack/bundle/start/vim-airline"]
	path = .vim/pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/bundle/start/vim-terragrunt"]
	path = .vim/pack/bundle/start/vim-terragrunt
	url = https://github.com/rhadley-recurly/vim-terragrunt.git
[submodule ".vim/pack/bundle/start/vim-devicons"]
	path = .vim/pack/bundle/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".vim/pack/bundle/start/vim-fugitive"]
	path = .vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/bundle/start/vim-terraform"]
	path = .vim/pack/bundle/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".vim/pack/bundle/start/vim-markdown"]
	path = .vim/pack/bundle/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/pack/bundle/start/-f"]
	path = .vim/pack/bundle/start/-f
	url = https://github.com/dense-analysis/ale
[submodule ".vim/pack/bundle/start/ale"]
	path = .vim/pack/bundle/start/ale
	url = https://github.com/dense-analysis/ale
[submodule ".vim/pack/bundle/start/ag"]
	path = .vim/pack/bundle/start/ag
	url = https://github.com/rking/ag.vim
[submodule ".vim/pack/bundle/start/vim-go"]
	path = .vim/pack/bundle/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/pack/bundle/start/vim-mustache-handlebars"]
	path = .vim/pack/bundle/start/vim-mustache-handlebars
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule ".vim/pack/bundle/start/vim-gitgutter"]
	path = .vim/pack/bundle/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/bundle/start/vim-jsonnet"]
	path = .vim/pack/bundle/start/vim-jsonnet
	url = https://github.com/google/vim-jsonnet
[submodule ".vim/pack/bundle/start/vim-commentary"]
	path = .vim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/bundle/start/nvim-lspconfig"]
	path = .vim/pack/bundle/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule ".vim/pack/bundle/start/completion-nvim"]
	path = .vim/pack/bundle/start/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim
[submodule ".vim/pack/bundle/start/Vim-Jinja2-Syntax"]
	path = .vim/pack/bundle/start/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule ".vim/pack/bundle/start/ansible-vim"]
	path = .vim/pack/bundle/start/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule ".vim/pack/bundle/nvim-lspconfig"]
	path = .vim/pack/bundle/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule ".vim/pack/bundle/start/gh.vim"]
	path = .vim/pack/bundle/start/gh.vim
	url = https://github.com/skanehira/gh.vim.git
[submodule ".vim/pack/bundle/start/vim-codefmt"]
	path = .vim/pack/bundle/start/vim-codefmt
	url = https://github.com/google/vim-codefmt
[submodule ".vim/pack/bundle/start/vim-maktaba"]
	path = .vim/pack/bundle/start/vim-maktaba
	url = https://github.com/google/vim-maktaba
[submodule ".vim/pack/bundle/start/vim-glaive"]
	path = .vim/pack/bundle/start/vim-glaive
	url = https://github.com/google/vim-glaive
